<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Machine Failure Prediction</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="container">

<div class="title">

<i class="fa-solid fa-industry"></i>

<h1>Machine Failure Prediction</h1>

<p>Industrial Predictive Maintenance Dashboard</p>

</div>

<form action="/predict" method="POST">

<div class="grid">

<div class="field">
<label>Machine Type</label>
<select name="type" required>
<option value="">Select Type</option>
<option value="0">L</option>
<option value="1">M</option>
<option value="2">H</option>
</select>
</div>

<div class="field">
<label>Air Temperature (K)</label>
<input type="number" step="0.01" name="air_temp" required>
</div>

<div class="field">
<label>Process Temperature (K)</label>
<input type="number" step="0.01" name="process_temp" required>
</div>

<div class="field">
<label>Rotational Speed (RPM)</label>
<input type="number" name="rpm" required>
</div>

<div class="field">
<label>Torque (Nm)</label>
<input type="number" step="0.01" name="torque" required>
</div>

<div class="field">
<label>Tool Wear (min)</label>
<input type="number" name="tool_wear" required>
</div>

<div class="field">
<label>TWF</label>
<select name="twf">
<option value="0">0</option>
<option value="1">1</option>
</select>
</div>

<div class="field">
<label>HDF</label>
<select name="hdf">
<option value="0">0</option>
<option value="1">1</option>
</select>
</div>

<div class="field">
<label>PWF</label>
<select name="pwf">
<option value="0">0</option>
<option value="1">1</option>
</select>
</div>

<div class="field">
<label>OSF</label>
<select name="osf">
<option value="0">0</option>
<option value="1">1</option>
</select>
</div>

<div class="field">
<label>RNF</label>
<select name="rnf">
<option value="0">0</option>
<option value="1">1</option>
</select>
</div>

</div>

<button type="submit">

<i class="fa-solid fa-brain"></i>

Predict Machine Status

</button>

</form>

{% if prediction %}

<div class="result">

<h2>{{ prediction }}</h2>

</div>

{% endif %}

</div>

</body>

</html>